$icomoon-font-family: "df-lite-merchant" !default;
$icomoon-font-path: "fonts" !default;

$df-orders: "\e91b";
$df-order-checked: "\e914";
$df-arrow: "\e900";
$df-card-to-card: "\e901";
$df-circle: "\e902";
$df-close: "\e903";
$df-closed-order: "\e904";
$df-customer-desc: "\e905";
$df-edit: "\e906";
$df-error: "\e90e";
$df-factor: "\e90f";
$df-filter: "\e910";
$df-home: "\e911";
$df-Inprogress-order: "\e912";
$df-notfound: "\e913";
$df-order-checked-path1: "\e914";
$df-order-checked-path2: "\e915";
$df-order-checked-path3: "\e916";
$df-order-notif: "\e917";
$df-order-search: "\e918";
$df-order-time: "\e919";
$df-all-orders: "\e91a";
$df-payment-card: "\e907";
$df-product: "\e908";
$df-search: "\e909";
$df-store: "\e90a";
$df-time: "\e90b";
$df-user: "\e90c";
$df-waiting-order: "\e90d";

